body {
  background-color: #212429;
  color: antiquewhite;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  padding: 0 5vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.navbar h3 {
  margin: 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.hamburger {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: antiquewhite;
  cursor: pointer;
  display: none;
}

.menu-wrapper {
  width: 50vw;
}

.menu-wrapper ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.menu-wrapper ul li a {
  text-decoration: none;
  color: inherit;
  position: relative; /* Added to enable positioning of the ::before pseudo-element */
}

/* Create the line before the link text */
.menu-wrapper ul li a::before {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust this value to control the distance of the line from the text */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e44309;
  transition: width 0.3s ease-in; /* Adjust the transition timing as desired */
}

/* Animate the line from left to right on hover */
.menu-wrapper ul li a:hover::before {
  width: 100%;
}

.menu-wrapper ul li:last-child button {
  background-color: #e44309;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0;
}

.hamburgerMenuItem {
  text-decoration: none;
  color: antiquewhite;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 80vh;
}

.diamond-image {
  width: 300px; /* Set the desired width of the diamond */
  height: 300px; /* Set the desired height of the diamond */
  position: relative;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Create the diamond shape using clip-path */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); /* Set the desired box shadow properties */
  z-index: 1; /* Ensure the diamond is behind the Typed.js output */
}

.diamond-content {
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg); /* Rotate the content within the diamond */
  overflow: hidden; /* Hide any content that overflows the diamond shape */
  position: relative; /* Add position: relative to position the image correctly */
}

.diamond-content img {
  position: absolute;
  top: 50%; /* Position the image at the center of the diamond */
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg); /* Rotate the image back -45 degrees to counteract the parent's rotation */
  width: 100%; /* Set the desired width of the image */
  height: 100%; /* Set the desired height of the image */
  object-fit: cover;
}

/* Add styles for the Typed.js output container */
.typed-output {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  z-index: 2; /* Ensure the Typed.js output is above the diamond */
}

.about-section {
  width: 100%;
}

.about {
  text-align: center;
}

.about h3 {
  text-align: justify;
  padding-left: 10vw;
  padding-right: 10vw;
}

.skill-section h1 {
  margin-top: 20vh;
  text-align: center;
}

.mySkill {
  display: flex;
  width: 90vw;
  justify-content: space-around;
}

.mySkill img {
  height: 200px;
  width: 200px;
  filter: grayscale(100%);
  transition: all 0.5s ease-in;
}

.mySkill img:hover {
  filter: grayscale(0%);
}

/* Adjust media query to toggle the sidebar correctly */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  /* Show the menu in full-screen overlay */
  .bm-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    z-index: 999;
  }

  .bm-menu {
    background-color: #212429;
    padding: 2.5em 1.5em;
  }

  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  .bm-cross {
    background: #bdc3c7;
  }

  .bm-menu.open {
    transform: translateX(0);
  }

  .bm-burger-button {
    display: none;
  }

  .bm-item-list {
    display: flex;
    flex-direction: column;
  }

  .bm-item {
    margin-bottom: 20px;
  }

  /* Styling for the "Download CV" button */
  .bm-item:last-child {
    display: flex;
    justify-content: center;
  }

  .bm-item:last-child button {
    background-color: #e44309;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .bm-menu.open .hamburger {
    display: none;
  }

  .bm-menu.open .hamburger-inside-sidebar {
    display: flex;
  }
  .menu-wrapper {
    display: none;
  }
  .main-content {
    flex-direction: column;
    height: 100vw;
  }
  .diamond-content {
    width: 300px;
    height: 300px;
    margin-top: 40%;
  }
  .diamond-image {
    object-fit: cover;
  }
  .diamond-image img {
    position: absolute;
    top: 50%; /* Position the image at the center vertically */
    left: 55%; /* Position the image at the center horizontally */
  }
  .mySkill {
    flex-direction: column;
    margin-left: 35vw;
  }
  .mySkill img{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
  }
}
